body{
  background: #000112;
  font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #e7eee9;
}
h2{
  font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #e7eee9;
}
.title-container{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}
h3{
  font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #f3d36c;
}
.btn{
  border: 1px solid #907520;
    border-radius: 8px;
    width: 240px;
    height: 56px;
    box-shadow: 1px 2px 2px 0 rgba(194, 165, 74, 0.5), inset 0 0 16px 0 #7c610c;
      background: #f3d36c;
      display: flex;
     justify-content: center;
     align-items: center;
     padding: 17px;
    font-family: "Arsenal", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.3;
      color: #000112;
      transition: all 0.3s ease-in-out;
}
.btn:hover{
  box-shadow:none;
}
@media only screen and (min-width: 1440px) {
.title-container {
    margin-bottom: 48px;
  }
}