.footer-wrapper{
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.footer-navigation{
  display: flex;
  gap: 32px;
  justify-content: center;
  font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #e7eee9;
}
@media only screen and (min-width: 1440px) {
 .footer-wrapper{
  flex-direction: row-reverse;
  justify-content: space-between;
 }
 .footer-navigation{
  gap: 8px;
 }
}