.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  height: 48px;
  background: #000112;
}

.header-container {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 121px;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
  background: linear-gradient(180deg, #000112 0%, #0a3d1d 100%);
  border-radius: 0 0 40px 40px;
  padding: 48px 36px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}


.menu-item {
  padding: 8px 0px;
  width: 170px;
  height: 36px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
  border-bottom: 1px solid #ffc328;
}

.header-policy-list {
  margin-top: 32px;
  display: flex;
  gap: 40px;
  justify-content: center;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #e6e6e9;
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding: 8px 80px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 48px;
  }

  .navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 33px;
    font-size: 12px;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }

  .navigation-item:hover {
    opacity: 1;
    font-weight: 500;
  }

  .navigation-item:focus,
  .navigation-item.active {
    border-bottom: 1px solid #ffc328;
    opacity: 1;
    font-weight: 500;

  }

}