.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.02);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
}
.hero-logo{
    margin: 40px auto;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.home-wrapper{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 293px;
}
.home-subtitle{
    font-family: "Arsenal SC", sans-serif;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #f3d36c;
}
.home-text{
    letter-spacing: 0.02em;
}
@media only screen and (min-width: 1440px) {
 .hero-logo{
    width: 1062px;
        height: 576px;
        margin-bottom: 32px;
        margin-top: 32px;
 }
 .home-container{
    flex-direction: row;
    justify-content: center;
    gap: 89px;
    align-items: end;
 }
 .home-wrapper{
    width: 733px;
    text-align: left;
   align-items: start;
 }
}
/*Disclaimer  */
.disclaimer-section{
    background: linear-gradient(180deg, #000112 0%, #0a3d1d 100%);
}
.disclaimer-container{
    padding: 48px 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.disclaimer-title{
    font-family: "Arsenal SC", sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #e7eee9;
}
.disclaimer-text{
    font-size: 12px;
        text-transform: uppercase;
}
@media only screen and (min-width: 1440px) {
  .disclaimer-container{
    padding: 56px 189px;
  }
}