@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./cookie-popup.css');


.background {
    background: #e7eee9;
    text-align: left;
    color: #000112;
}



.privacy-title {
font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #215f38;
    margin-top: 32px;
    margin-bottom: 32px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000112;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 20px;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .policy-container {
        padding-left: 189px;
        padding-right: 189px;
    }

}